@{
    ViewData["Title"] = Localizer["TakeCare"];
    ViewData["Description"] = Localizer["MetaDescription"];
    ViewData["Keywords"] = Localizer["MetaKeywords"];
}

<div class="container my-5">
    <h1 class="text-center mb-4">@Localizer["TakeCare"]</h1>
    <ul class="nav nav-tabs" id="cuidadosTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="generales-tab" data-bs-toggle="tab" data-bs-target="#generales" type="button" role="tab" aria-controls="generales" aria-selected="true">@Localizer["GeneralCare"]</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="bordados-tab" data-bs-toggle="tab" data-bs-target="#bordados" type="button" role="tab" aria-controls="bordados" aria-selected="false">@Localizer["Embroidery"]</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="estampas-tab" data-bs-toggle="tab" data-bs-target="#estampas" type="button" role="tab" aria-controls="estampas" aria-selected="false">@Localizer["Prints"]</button>
        </li>
    </ul>
    <div class="tab-content mt-3" id="cuidadosContent">
        <div class="tab-pane fade show active" id="generales" role="tabpanel" aria-labelledby="generales-tab">
            <h4>@Localizer["GeneralCare"]</h4>
            <ul>
                <li>@Localizer["GeneralCareItem1"]</li>
                <li>@Localizer["GeneralCareItem2"]</li>
                <li>@Localizer["GeneralCareItem3"]</li>
                <li>@Localizer["GeneralCareItem4"]</li>
                <li>@Localizer["GeneralCareItem5"]</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="bordados" role="tabpanel" aria-labelledby="bordados-tab">
            <h4>@Localizer["EmbroideryCare"]</h4>
            <ul>
                <li>@Localizer["EmbroideryCareItem1"]</li>
                <li>@Localizer["EmbroideryCareItem2"]</li>
            </ul>
        </div>
        <div class="tab-pane fade" id="estampas" role="tabpanel" aria-labelledby="estampas-tab">
            <h4>@Localizer["PrintCare"]</h4>
            <ul>
                <li>@Localizer["PrintCareItem1"]</li>
                <li>@Localizer["PrintCareItem2"]</li>
            </ul>
        </div>
    </div>
</div>
