@{
	var status = Context.Request.Query["Status"];
	var pending = "text-primary";
	var inprocess = "text-primary";
	var completed = "text-primary";
	var approved = "text-primary";
	var all = "text-primary";

	switch (status)
	{
		case "pending":
			pending = "active text-white bg-primary";
			break;
		case "inprocess":
			inprocess = "active text-white bg-primary";
			break;
		case "completed":
			completed = "active text-white bg-primary";
			break;
		case "approved":
			approved = "active text-white bg-primary";
			break;
		default:
			all = "active text-white bg-primary";
			break;
	}
}
<div class="card shadow border-0 my-4">
	<div class="card-header bg-primary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h2 class="text-white text-center">@Localizer["OrderList"]</h2>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="d-flex justify-content-between pb-5 pt-2">
			<span>

			</span>
			<ul class="list-group list-group-horizontal-sm">
				<a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="inprocess">
				<li class="list-group-item @inprocess">@Localizer["InProcess"]</li>
				</a>
				<a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="pending">
				<li class="list-group-item @pending">@Localizer["PaymentPending"]</li>
				</a>
				<a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="completed">
				<li class="list-group-item @completed">@Localizer["Completed"]</li>
				</a>
				<a style="text-decoration:none;" asp-controller="Order" asp-action="Index" asp-route-status="approved">
				<li class="list-group-item @approved">@Localizer["Approved"]</li>
				</a>
				<a style="text-decoration:none ;" asp-controller="Order" asp-action="Index" asp-route-status="all">
				<li class="list-group-item @all">@Localizer["All"]</li>
				</a>
			</ul>
		</div>

		<table id="tblData" class="table table-bordered table-striped table-hover" style="width:100%">
			<thead>
				<tr>
					<th>@Localizer["Id"]</th>
					<th>@Localizer["Name"]</th>
					<th>@Localizer["PhoneNumber"]</th>
					<th>@Localizer["Email"]</th>
					<th>@Localizer["OrderStatus"]</th>
					<th>@Localizer["PaymentStatus"]</th>
					<th>@Localizer["Total"]</th>
				</tr>
			</thead>
		</table>
	</div>
</div>


@section Scripts {
	<script>
		window.orderStatusTranslations = {
			Pending: @Json.Serialize(Localizer["Pending"].Value),
			Approved: @Json.Serialize(Localizer["Approved"].Value),
			Processing: @Json.Serialize(Localizer["Processing"].Value),
			Shipped: @Json.Serialize(Localizer["Shipped"].Value),
			Cancelled: @Json.Serialize(Localizer["Cancelled"].Value),
			Refunded: @Json.Serialize(Localizer["Refunded"].Value)
		};
	</script>

	@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Employee))
	{
		<script src="~/js/orderAdmin.js"></script>
	}
	else
	{
		<script src="~/js/order.js"></script>
	}
}
