@model int

<div class="containter row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">@Localizer["Title"]</h1>
		@Localizer["OrderNumber"]: @Model <br /><br />
		<img src="~/images/olasReduced.webp" width="65%" />
	</div>
	<div class="col-12 text-center pb-3">
		<br />
		@Localizer["PaymentSuccess"]
		<br />
		<a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model" class="btn btn-primary mt-3">
			 @Localizer["BackToOrderDetails"]
		 </a>
	</div>
</div>